body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 5.625rem;
  margin: 2.6rem auto 0 auto;
  font-family: 'Sue Ellen Francisco', cursive;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  margin-top: 0;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
}

hr {
  border-style: dotted none none;
  border-color: #66BFBF;
  border-width: 10px;
  width: 7%;
  margin: 70px auto 70px auto;
}

.hello {
  margin-top: 20px;
}

.bio-text {
text-align: center;
color: #40514E;
}

.top-container {
  background-image: url("images/Triangles.png");
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}


.middle-container {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fdeddd;
}

.bottom-container {
  padding: 30px;
  background-color: #66BFBF;
}


.twitch-logo {
  width: 25%;
  height: auto;
  float: left;
  padding-right: 30px
}
.web-design-img {
  width: 25%;
  height: auto;
  float: right;
  padding-left: 30px
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.get-in-touch {
padding: 0;
margin:0;}

.more-space-pls {
  margin-bottom: 50px;
}

.contact-me {
  line-height: 2;
}

.btn {
  background: #90f5f5;
  background-image: -webkit-linear-gradient(top, #90f5f5, #66BFBF);
  background-image: -moz-linear-gradient(top, #90f5f5, #66BFBF);
  background-image: -ms-linear-gradient(top, #90f5f5, #66BFBF);
  background-image: -o-linear-gradient(top, #90f5f5, #66BFBF);
  background-image: linear-gradient(to bottom, #90f5f5, #66BFBF);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 32px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #66BFBF, #77dbdb);
  background-image: -moz-linear-gradient(top, #66BFBF, #77dbdb);
  background-image: -ms-linear-gradient(top, #66BFBF, #77dbdb);
  background-image: -o-linear-gradient(top, #66BFBF, #77dbdb);
  background-image: linear-gradient(to bottom, #66BFBF, #77dbdb);
  text-decoration: none;
}

.footer-link {
  color: #0f7275;
  padding: 20px;
}

.copyright {
  margin-top: 40px;
  color: #EAF6F6;
}
